/bin/
/target/
/dependencies/
/.settings/
/.idea/
/.m2/
/.classpath
/.project
/.gitlab-ci.yml
/test/
/libraries/spigot/
/dependency-reduced-pom.xml
/vcompat-api/bin/
/vcompat-api/target/
/vcompat-api/dependencies/
/vcompat-api/.settings/
/vcompat-api/.idea/
/vcompat-api/.m2/
/vcompat-api/.classpath
/vcompat-api/.project
/vcompat-api/.gitlab-ci.yml
/vcompat-api/test/
/vcompat-api/libraries/spigot/
/vcompat-api/dependency-reduced-pom.xml
/vcompat-core/bin/
/vcompat-core/target/
/vcompat-core/dependencies/
/vcompat-core/.settings/
/vcompat-core/.idea/
/vcompat-core/.m2/
/vcompat-core/.classpath
/vcompat-core/.project
/vcompat-core/.gitlab-ci.yml
/vcompat-core/test/
/vcompat-core/libraries/spigot/
/vcompat-core/dependency-reduced-pom.xml
/vcompat-legacy/bin/
/vcompat-legacy/target/
/vcompat-legacy/dependencies/
/vcompat-legacy/.settings/
/vcompat-legacy/.idea/
/vcompat-legacy/.m2/
/vcompat-legacy/.classpath
/vcompat-legacy/.project
/vcompat-legacy/.gitlab-ci.yml
/vcompat-legacy/test/
/vcompat-legacy/libraries/spigot/
/vcompat-legacy/dependency-reduced-pom.xml